

img {
    border-radius: 50%;
}

#align-center {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 2em;
}

footer {
    text-align: center;
    font-size: 0.8em;
}

a {
    text-decoration: none;
}

#container {
    display: flex;
}
 
div {
    border: 0.5px solid black
}

.text-box {
    margin-left: 5%;
    width: 100%;
    padding: 10%;
}
